<div class="container-lg">
  <div class="row">
    <p-table [value]="cartItems$ | async">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          {{'shopping-cart.title' | translate}}
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>{{'shopping-cart.name' | translate}}</th>
          <th>{{'shopping-cart.image' | translate}}</th>
          <th>{{'shopping-cart.price' | translate}}</th>
          <th>{{'shopping-cart.quantity' | translate}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cartItem>
        <tr>
          <td>{{cartItem.product.name}}</td>
          <td><img [src]="cartItem.product.imageUrl" [alt]="cartItem.product.name" width="100" class="p-shadow-4"/></td>
          <td>{{cartItem.product.price | currency:'EUR'}}</td>
          <td>{{cartItem.qty}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          {{'shopping-cart.totalPrice' | translate}}: {{totalPrice | currency:'EUR'}}
        </div>
      </ng-template>
    </p-table>
  </div>
</div>
