<mat-toolbar color="primary">
  <span class="cursor" (click)="toggleSidebar()" aria-label="Example icon-button with menu icon">
    <i class="fas fa-bars pl-1 pr-3"></i>{{'toolbar.category' |translate}}
  </span>
  <span class="cursor" aria-label="Example icon-button with menu icon">
    <i class="fas fa-bullhorn pl-3 pr-3"></i>{{'toolbar.sale' |translate}}<i class="fas fa-percent pl-3 pr-3"></i>
  </span>
  <span class="example-spacer"></span>
  <span class="cursor pr-3" aria-label="Example icon-button with favorite icon">
    {{'toolbar.wishlist' |translate}}
    <mat-icon matBadge="3" matBadgeColor="warn">favorite</mat-icon>
  </span>
  <span class="cursor pr-3" aria-label="Example icon-button with shopping_cart icon">
    {{'toolbar.cart' |translate}}
    <mat-icon matBadge="1" matBadgeColor="warn">shopping_cart</mat-icon>
  </span>
</mat-toolbar>
