mat-icon {
  transform: translateY(15%);
}

.example-spacer {
  flex: 1 1 auto;
}

.cursor {
  cursor: pointer;
}

button.mat-menu-item {
  outline: none;
}

.borderRight {
  border-right: 2px solid #dee2e6 !important;
}
