mat-icon {
  transform: translateY(15%);
}

.example-spacer {
  flex: 1 1 auto;
}

button.mat-menu-item {
  outline: none;
}

.borderRight {
  border-right: 2px solid #dee2e6 !important;
}

.selected {
  background-color: dodgerblue;
}

.btn {
  border-radius: 0px;

  &:last-child {
    border-radius: 0px 5px 5px 0px;
  }

  &:first-child {
    border-radius: 5px 0px 0px 5px;
  }
}
