<div class="container-lg mt-3">
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-10">
      <form [formGroup]="paymentForm" (ngSubmit)="nextPage()">
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="number">{{'form.payment.number'| translate}}</label>
            <input type="text"
                   class="form-control"
                   id="number"
                   formControlName="number"
                   [ngClass]="{'is-invalid': paymentForm.get('number').touched && paymentForm.get('number').invalid}">
            <div class="invalid-feedback">
              {{'form.payment.error.number'| translate}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="owner">{{'form.payment.owner'| translate}}</label>
            <input type="text"
                   class="form-control"
                   id="owner"
                   formControlName="owner"
                   [ngClass]="{'is-invalid': paymentForm.get('owner').touched && paymentForm.get('owner').invalid}">
            <div class="invalid-feedback">
              {{'form.payment.error.owner'| translate}}
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <label for="date">{{'form.payment.date'| translate}}</label>
            <input type="text"
                   class="form-control"
                   id="date"
                   formControlName="date"
                   [ngClass]="{'is-invalid': paymentForm.get('date').touched && paymentForm.get('date').invalid}">
            <div class="invalid-feedback">
              {{'form.payment.error.date'| translate}}
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <label for="cvv">{{'form.payment.cvv'| translate}}</label>
            <input type="text"
                   class="form-control"
                   id="cvv"
                   formControlName="cvv"
                   maxlength="3"
                   [ngClass]="{'is-invalid': paymentForm.get('cvv').touched && paymentForm.get('cvv').invalid}">
            <div class="invalid-feedback">
              {{'form.payment.error.cvv'| translate}}
            </div>
          </div>
        </div>
      </form>
      <div class="row justify-content-between">
        <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
        <div
          [matTooltip]="!paymentForm.valid ? getTooltip():''"
          matTooltipPosition="right"
          [matTooltipHideDelay]="2000">
          <p-button label="Next" [disabled]="!paymentForm.valid" (onClick)="nextPage()" icon="pi pi-angle-right"
                    iconPos="right"></p-button>
        </div>
      </div>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>
