<div class="container-lg mt-3">
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-10">
      <form [formGroup]="paymentForm">
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-3">
            <label for="number">{{'form.payment.number'| translate}}</label>
            <p-inputMask type="text"
                         id="number"
                         formControlName="number"
                         mask="9999-9999-9999-9999"
                         class="p-inputtext-lg"
                         [ngClass]="{'is-invalid': paymentForm.get('number').touched && paymentForm.get('number').invalid}">
            </p-inputMask>
            <div class="invalid-feedback">
              {{'form.payment.error.number'| translate}}
            </div>
          </div>

          <div class="p-field p-col-4 p-md-3">
            <label for="owner">{{'form.payment.owner'| translate}}</label>
            <input type="text"
                   id="owner"
                   class="form-control"
                   formControlName="owner"
                   [ngClass]="{'is-invalid': paymentForm.get('owner').touched && paymentForm.get('owner').invalid}">
            <div class="invalid-feedback">
              {{'form.payment.error.owner'| translate}}
            </div>
          </div>

          <div class="p-field p-col-4 p-md-3">
            <label for="date">{{'form.payment.date'| translate}}</label>
            <p-inputMask type="text"
                         id="date"
                         formControlName="date"
                         class="p-inputtext-lg"
                         mask="99/99"
                         [ngClass]="{'is-invalid': paymentForm.get('date').touched && paymentForm.get('date').invalid}">
            </p-inputMask>
            <div class="invalid-feedback">
              {{'form.payment.error.date'| translate}}
            </div>
          </div>

          <div class="p-field p-col-4 p-md-3">
            <label for="cvv">{{'form.payment.cvv'| translate}}</label>
            <p-inputMask type="text"
                         id="cvv"
                         formControlName="cvv"
                         class="p-inputtext-lg"
                         mask="999"
                         [ngClass]="{'is-invalid': paymentForm.get('cvv').touched && paymentForm.get('cvv').invalid}">
            </p-inputMask>
            <div class="invalid-feedback">
              {{'form.payment.error.cvv'| translate}}
            </div>
          </div>
        </div>

      </form>

      <div class="row justify-content-between">
        <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
        <div
          [matTooltip]="!paymentForm.valid ? getTooltip():''"
          matTooltipPosition="right"
          [matTooltipHideDelay]="2000">
          <p-button label="Next" [disabled]="!paymentForm.valid" (onClick)="nextPage()" icon="pi pi-angle-right"
                    iconPos="right"></p-button>
        </div>
      </div>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>
