<div class="side-menu">
  <ul class="nav navbar-nav">
    <li (click)="select(CategoryType.FASTFOOD)">
      <a>
        <span class="icon fas fa-pizza-slice"></span>
        <span class="title">{{'sidebar.fastfood' | translate}}</span>
      </a>
    </li>
    <li (click)="select(CategoryType.VEGES)">
      <a>
        <span class="icon fas fa-carrot"></span>
        <span class="title">{{'sidebar.veges' | translate}}</span>
      </a>
    </li>
    <li (click)="select(CategoryType.CANDY)">
      <a>
        <span class="icon fas fa-candy-cane"></span>
        <span class="title">{{'sidebar.candy' | translate}}</span>
      </a>
    </li>
  </ul>
</div>
