/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$heightHeader: 54px;
$heightToolbar: 64px;

$ppBlue: #3f51b5;

.cursor {
  cursor: pointer;
}
