<div class="full-height">
<form [formGroup]="signupForm" (ngSubmit)="register()">
  <div class="form-group pt-4">
    <label for="email">{{'dialog.mailbox' | translate}}</label>
    <input id="email"
           name="email"
           class="form-control"
           formControlName="username"
           [ngClass]="{'is-invalid': signupForm.get('username').touched && signupForm.get('username').invalid}">
    <span *ngIf="signupForm.get('username').hasError('required')"
          class="invalid-feedback">{{'dialog.error.mailbox.required' | translate}}</span>
    <span *ngIf="signupForm.get('username').hasError('email')"
          class="invalid-feedback">{{'dialog.error.mailbox.invalid' | translate}}</span>
  </div>
  <div class="form-group">
    <label for="password">{{'dialog.password' | translate}}</label>
    <input id="password"
           class="form-control"
           type="password"
           formControlName="password"
           [ngClass]="{'is-invalid': signupForm.get('password').touched && signupForm.get('password').invalid}">
    <span *ngIf="signupForm.get('password').hasError('required')"
          class="invalid-feedback">{{'dialog.error.password.invalid' | translate}}</span>
  </div>
  <div class="form-group">
    <label for="confirmPassword">{{'dialog.confirm' | translate}}</label>
    <input id="confirmPassword"
           class="form-control"
           type="password"
           formControlName="confirmPassword"
           [ngClass]="{'is-invalid': signupForm.get('confirmPassword').touched && signupForm.get('confirmPassword').invalid}">
    <span *ngIf="signupForm.get('confirmPassword').hasError('passwordsMatch')"
          class="invalid-feedback">{{'dialog.error.password.unmatched' | translate}}</span>
  </div>


  <mat-dialog-actions class="flex justify-content-around">
    <button mat-raised-button color="accent" mat-dialog-close>{{'dialog.button.close' | translate}}</button>
    <button mat-raised-button color="primary"
            type="submit" cdkFocusInitial
            [disabled]="signupForm.invalid">{{'dialog.signup.button' | translate}}
    </button>
  </mat-dialog-actions>
</form>
</div>
