<div class="full-height">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group pt-4">
      <label for="username">{{'dialog.mailbox' | translate}}</label>
      <input id="username"
             name="username"
             class="form-control"
             formControlName="username"
             [ngClass]="{'is-invalid': loginForm.get('username').touched && loginForm.get('username').invalid}">
      <span class="invalid-feedback">{{'dialog.error.mailbox.invalid' | translate}}</span>
    </div>
    <div class="form-group">
      <label for="password">{{'dialog.password' | translate}}</label>
      <input id="password"
             class="form-control"
             type="password"
             formControlName="password"
             [ngClass]="{'is-invalid': loginForm.get('password').touched && loginForm.get('password').invalid}">
      <span class="invalid-feedback">{{'dialog.error.password.invalid' | translate}}</span>
    </div>

    <mat-dialog-actions class="flex justify-content-around">
      <button mat-raised-button color="accent" mat-dialog-close>{{'dialog.button.close' | translate}}</button>
      <button mat-raised-button color="primary"
              type="submit" matTooltip="{{'dialog.login.tooltip' | translate}}">
        {{'dialog.login.button' | translate}}</button>
    </mat-dialog-actions>

  </form>
</div>
