<div class="container-lg mt-3">
  <div class="row">
    <div class="col-1">
    </div>

    <div class="col-10">
      <div class="p-field p-col-12 mb-3">
        <label>{{'form.address.firstname'| translate}}</label>
        <b>Seat</b>
      </div>

      <div class="p-field p-col-12 mb-3">
        <label>{{'form.address.lastname'| translate}}</label>
        <b>Seat</b>
      </div>

      <div class="p-field p-col-12 mb-3">
        <label>{{'form.address.postcode'| translate}}</label>
        <b>Seat</b>
      </div>

      <div class="p-field p-col-12 mb-3">
        <label>{{'form.address.city'| translate}}</label>
        <b>Seat</b>
      </div>

      <div class="p-field p-col-12 mb-3">
        <label>{{'form.address.street'| translate}}</label>
        <b>Seat</b>
      </div>

      <div class="p-field p-col-12 mb-3">
        <label>{{'form.address.number'| translate}}</label>
        <b>Seat</b>
      </div>

      <div class="p-field p-col-12 mb-3">
        <label>{{'form.payment.number'| translate}}</label>
        <b>Seat</b>
      </div>

      <div class="p-field p-col-12 mb-3">
        <label>{{'form.payment.owner'| translate}}</label>
        <b>Seat</b>
      </div>

      <div class="p-field p-col-12 mb-3">
        <label>{{'form.payment.date'| translate}}</label>
        <b>Seat</b>
      </div>

      <div class="p-field p-col-12 mb-3">
        <label>{{'form.payment.cvv'| translate}}</label>
        <b>Seat</b>
      </div>

      <div class="row justify-content-between">
        <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
        <p-button label="Next" (onClick)="complete()" icon="pi pi-angle-right"
                  iconPos="right"></p-button>
      </div>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>
